.break22
{
  margin-top: -60px;
}
.wrapper22{
   
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
    
    margin-bottom: 20px;
    background: white;
    
  
}
.container22 {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    
    
  }
 

  @media screen and (min-width: 700px){
    .container22 {
      padding: 5px;
    }
    .image22{
      width: 90%;
      
   }
    
  }
  @media screen and (min-width: 1000px){
    .container22 {
      padding: 10px;
    }
    .image22{
      width: 100%;
      
   }
  }