.product {
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    border: 1px solid var(--primaryColor);
  }
  .product:hover {
    box-shadow: var(--darkShadow);
  }
  
  .img-container {
    position: relative;
  }
  .img-container img {
    width: 100%;
    display: block;
    transition: var(--mainTransition);
  }

  .product-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
  }
  .img-container:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .img-container:hover img {
    opacity: 0.3;
  }
  .img-container:hover .price-top {
    opacity: 0;
  }
  .img-container:hover .product-link {
    transform: translate(-50%, -50%) scale(1);
  }
  .product-info {
    background: rgb(35, 46, 44);
    text-transform: capitalize;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
  }

  @media screen and (max-width: 992px){
    
      .product-link {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
      
    }}