.container{
    width: 100%;
    
  }
  .anchor{
    line-height: 0; 
    font-size: 0;
    color: transparent;
  }
  
  .container img{
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    border: 2px solid var(--primaryColor);
  }
  .info{
    margin: auto;
    text-justify: right;
    font-size: 16px;
    padding: 25px;
    padding-top: 80px;
    text-align: center;
    font-weight: 600;
  }
  @media screen and (min-width: 776px) {
    .container{
        width: 80%;
        
    }
  }
  @media screen and (min-width: 992px){
    .container{
        width: 60%;
       
    }
  }